* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans' ,sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 30px;
    font-weight: 700;
    float: left;
    font-family: 'Open Sans' ,sans-serif;
    color: #1D5D9B;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #1D5D9B;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav ul li {
    float: left;

}
nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
 }
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
 }
 section img {
    display: block;
}
 .kolom {
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #0D1282;
 }

 h2 {
    font-family:'comic sans ms';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #1D5D9B;
    width: 100%;
    line-height: 50px;
 }

 h3 {
    font-family:'comic sans ms';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #1D5D9B;
    width: 100%;
    line-height: 50px;
 }

 P {
    font-weight: #2C3639;
    font-family:'sans serif';
    font-size: 20px;
 }

 p1 {
    font-weight: bold;
    font-family:'comic sans ms';
    font-size: 20px;

 }

a.tbl-biru {
    background: #1D5D9B;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
 }
  a.tbl-biru:hover {
    background: #78C1F3;
    text-decoration: none;
  }

a.tbl-pink {
    background: #0E8388;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}
a.tbl-pink:hover {
    background: #59C1BD;
    text-decoration: none;
}

p {
    margin: 10px 0px 20px 0px;
    padding:10px 0px 10px 0px;
    font-weight: bold;
    font-family:'sans serif';
    font-size: 22px;
    
}

.kolom .folio {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #116D6E;
}
h5 {
    font-family:'comic sans ms';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #0D1282;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

h4 {
    font-family:'comic sans ms';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #1A5D1A;
    width: 100%;
    line-height: 50px;
}

.certifi {
    display: flex;
}
.certifi img{
    max-width: 500px;
    margin: 20px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.partner-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: flex;
}

#contact {
    background: #7C9D96;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
    
}
h7{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: bold;
    width: 100%;
    line-height: 50px;
    text-align: right;
}

#Copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}
img{
    display: block;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }
    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .menu{
        width: 100%;
        margin: 0;
    }
    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }
    nav .menu ul li{
        display: inline-block;
        float: none;

    }
    section {
        display: block;
    }
    section img {
        display: block;
    }
    .footer-section{
        width: 50%;
        margin: 0 auto;
    }
}




